body{
    margin: 0px;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
h1{
    margin-top: 0px;
    padding-top: 60px;
    font-size: 5.625rem;
    font-family: 'Sen', sans-serif;
}
div{
    background-color: #E4F9F5 ;
}
p{
    font-family: 'Sen', sans-serif;
}
.profile{
    padding-top: 20px;
}
.dsicon{
    padding-top: 0px;
    width: 25%;
    float: left;
    padding-right: 30px;
}
/*.dslanguage{
    clear: left;
}
.dsIDE{
    clear: left;
}*/
.feicon{
    width: 25%;
    float: left;
    margin-right: 30px;
}
/*.felanguage{
    clear: right;
}
.feIDE{
    clear: right;
}*/
.cameraicon{
    padding-left: 40px;
    width: 25%;
    float: left;
    padding-right: 30px;
    padding-left: 0px;
}
.middle-container {
    
}
.bottom-container{
 padding-bottom: 40px;
}
/*.pro{
    text-decoration: underline;
}*/
.bottom-cloud{
    position: absolute;
    left:300px
}
.top-cloud{
    position: absolute;
    left: 1100px;
    top: 30px;
}
.top {
    position: relative;
    background-color: burlywood;
}
.collab{
    margin-bottom: 0px;
}
.SMP{
    margin-top: 0px;
    padding-top: 20px;
}
.liicon{
    padding-right: 5px;
}
.ghicon{
    padding-right: 5px;
}
.proent{
    font-size: 2.5rem;
    font-weight: normal;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}